<html>

<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?key={{.}}"></script>

  <script type="text/javascript">
    function hodInformation(pos) {
      if (!pos) {
        document.getElementById('hod').innerHTML = 'Waiting For New Point'
        return
      }
      $.get(
        "/hodinfo/" + pos.lat() + "/" + pos.lng(),
        function(data) {
          if (data.matches.length == 0) {
            document.getElementById('hod').innerHTML = 'No data Found';
            return
          } else {
            output = ''
            for (i = 0; i < data.matches.length; i++) {
              output += data.matches[i].target + ' - ' + data.matches[i].name + '<br/>';
            }
            document.getElementById('hod').innerHTML = output
          }
        }
      );
    }

    function updateMarkerStatus(str) {
      document.getElementById('markerStatus').innerHTML = str;
    }

    function updateMarkerPosition(latLng) {
      document.getElementById('info').innerHTML = [
        latLng.lat(),
        latLng.lng()
      ].join(', ');
    }

    function initialize() {
      var latLng = new google.maps.LatLng(30.397, -97.75);
      var map = new google.maps.Map(document.getElementById('mapCanvas'), {
        zoom: 8,
        center: latLng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });
      var marker = new google.maps.Marker({
        position: latLng,
        title: 'Point A',
        map: map,
        draggable: true
      });

      // Update current position info.
      updateMarkerPosition(latLng);
      hodInformation(latLng);

      // Add dragging event listeners.
      google.maps.event.addListener(marker, 'dragstart', function() {
        hodInformation(null);
      });

      google.maps.event.addListener(marker, 'drag', function() {
        updateMarkerStatus('Dragging...');
        updateMarkerPosition(marker.getPosition());
      });

      google.maps.event.addListener(marker, 'dragend', function() {
        updateMarkerStatus('Drag ended');
        hodInformation(marker.getPosition());
      });
    }

    // Onload handler to fire off the app.
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>

<body>
  <style>
    #mapCanvas {
      width: 600px;
      height: 500px;
      float: left;
    }
    
    #infoPanel {
      float: left;
      margin-left: 10px;
    }
    
    #infoPanel div {
      margin-bottom: 5px;
    }
  </style>

  <br/>
  <div>
    <a href="/">Home</a>
  </div>

  <br/>
  <div id="mapCanvas"></div>
  <div id="infoPanel">
    <b>Marker status:</b>
    <div id="markerStatus"><i>Click and drag the marker.</i></div>
    <b>Current position:</b>
    <div id="info"></div>
    <b>HOD Information:</b>
    <div id="hod">Loading...</div>
  </div>
</body>

</html>