<html>

<head>
  <title>mysql view</title>
</head>

<body>

  <div>
    View of mysql data
  </div>

  <br/>
  <div>
    <a href="/">Home</a>
  </div>

  <br/>
  <div>
    <a href="sql/generate">Generate Data</a>
  </div>

  <br/> Mysql Data:
  <br/> Count of users: {{len .Mysql}}
  <table border="1">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>CreatedAt</th>
    </tr>
    {{range .Mysql}}
    <tr>
      <td>{{.Username}}</td>
      <td>{{.Email}}</td>
      <td>{{.Password}}</td>
      <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
  </table>


  <br/> Postgres Data:
  <br/> Count of users: {{len .Postgres}}
  <table border="1">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>CreatedAt</th>
    </tr>
    {{range .Postgres}}
    <tr>
      <td>{{.Username}}</td>
      <td>{{.Email}}</td>
      <td>{{.Password}}</td>
      <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
  </table>
</body>

</html>
