<html>

<head>
  <title>redis view</title>
</head>

<body>
  <div>
    View of some redis data
  </div>

  <br/>
  <div>
    <a href="/">Home</a>
  </div>

  <br/> Current count: {{.Counter}}
  <div>
    <a href="redis/increment">Increment</a>
  </div>

  <br/> Add some data
  <div>
    <form action="redis/set" method="POST">
      <fieldset>
        <legend>Add some data</legend>
        Key:
        <input type="text" name="key" value="foo"><br/> Value:
        <input type="text" name="value" value="bar"><br/>
        <input type="submit" value="Submit">
      </fieldset>
    </form>
  </div>


  <br/> Data in DB:
  <div>

    <table border="1">
      <tr>
        <th>key</th>
        <th>value</th>
      </tr>

      {{range $key, $value := .Data}}
      <tr>
        <td>{{ $key }}</td>
        <td>{{ $value }}</td>
      </tr>
      {{end}}

    </table>
  </div>
</body>

</html>